<section class="content-header">
    <h1 class="pageHeader">
        Registration
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Registration</li>
    </ol>
</section>

<section class="content">
    <!--patientId display-->
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="col-sm-10 control-label">Patient ID :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="txt_patienID">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--administrative form-->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Administrative Details</h3>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <label class="col-sm-4 control-label">First Name :</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="fname" ng-model="patientDetails.firstname">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label class="col-sm-4 control-label">Surname :</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="sname" ng-model="patientDetails.sirname">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label class="col-sm-4 control-label">NIC :</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="nic" ng-model="patientDetails.nic">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Date of Birth :</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" id="dateofbirth" ng-model="patientDetails.dateofbirth">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           <!--gender and maritail row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Gender :</label>
                        <div class="col-sm-12">
                            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                    tabindex="-1" aria-hidden="true">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div>
                            <span class="select2-selection__rendered" id="gender" ng-model="patientDetails.gender"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Marital Status:</label>
                        <div class="col-sm-12">
                            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                    tabindex="-1" aria-hidden="true">
                                <option>Married</option>
                                <option>Unmarried</option>
                            </select>
                        </div>
                        <div>
                            <span class="select2-selection__rendered" id="marital" ng-model="patientDetails.maritalstatus"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--div box-body-->
        </div>
        <!--div administrative details header-->
    </div>


    <!--Contact information details-->

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Contact Details</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Address :</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="address" ng-model="patientDetails.address">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Contact(res) :</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" class="form-control"
                                       data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" id="contact_res" ng-model="patientDetails.contact_res">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Contact(mobile) :</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" class="form-control"
                                       data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" id="contact_mobile" ng-model="patientDetails.contact_mobile">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Email :</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input type="email" class="form-control" placeholder="Email" id="email" ng-model="patientDetails.email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5"></div>
            </div>
            <!--div contact information-->
        </div>
    </div>


    <!--guardian information-->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Guardian Details</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Guardian Name:</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="guardian_name" ng-model="patientDetails.guardian_name">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Relationship :</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="relationship" ng-model="patientDetails.guardian_relationship">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Contact(res) :</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" class="form-control"
                                       data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" id="guardian_contact_res" ng-model="patientDetails.guardian_contact_res">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Contact(mobile) :</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" class="form-control"
                                       data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" id="guardian_contact_mobile" ng-model="patientDetails.guardian_contact_mobile">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--div Guardian information-->
    </div>

<!--Medical details-->

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Medical Details</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Height :</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="height" ng-model="patientDetails.height">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Weight :</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="weight" ng-model="patientDetails.weight">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Blood Group :</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="bloodgroup" ng-model="patientDetails.bloodgroup">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




            <div class="box-footer">
        <button type="submit" class="btn btn-danger">Cancel</button>
        <button type="submit" class="btn btn-success pull-right" ng-click="submit(patientDetails)">Register</button>
    </div>

</section>